body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 0.76rem Arial, Helvetica, sans-serif;
}
.header{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    width: 90%;
}
.menu{
    height: 2rem;
    list-style: none;
    padding: 10px;
    margin-left: 80px;
    width: 100%;

}
.menu li{
    float: left;
    width:fit-content;
    padding-right: 20px;
    text-align: center;
}
.menu li a{
    color: #0088CC;
}
.menu li a:hover{
    color: #fff;
    background-color: #0088CC
}
.menu li a:link, .menu li a:visited{
    display: block;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
.menu .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    height:max-content;
    background-color: rgb(255, 255, 255);
}
.menu .sousmenu li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;

}
.menu .sousmenu li a{
    color: rgb(143, 132, 132);
    font-weight: normal;
    padding-left: 20px ;
}
.menu .sousmenu li a:hover{
    background-color: rgb(235, 235, 235);
}
.menu .sousmenu li a:link, .menu li a:visited{
    display: block;
    text-decoration: none;
}
.menu .sousmenu li a:hover {
    color: rgb(145, 148, 151);
    
}
.menu li:hover .sousmenu{
    display: block;
}
.logo{
    float: left;
    padding-right: 150px;
    font-weight: bold;
    color: black;

}
.bigBlu{
    background-color: #1136FF;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
/* -------------------------------------------------- */



.content1{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.content1 img{
    width: max-content;
    position: absolute;
    object-fit: cover;
    left: 0;
}
.content2{

}
.content3{

}
.leftContent{
    background-repeat: no-repeat;
    width: 40%;
    height: 40rem ;
    color: #fff;
    font-size:2.3rem;
    padding-left: 100px;
    text-align: right;
    font-weight: bold;
}
.bgBlack{
    background-color: black;
}

/* -----------------------------------------slider---------------------------- */
.slider{
    height:88vh;
    position: relative;
} 
.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.slider img.active{
    opacity: 1;
}
.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    cursor: pointer;
}
.suivant{
    right: 1rem;
}
.precedent{
    left: 1rem;
}


/* ------------------------------------------------------------- */

.info1{
    padding: 10px 30px 10px;
    text-align: center;
    margin:  80px auto 0 auto;
    font-size: 12pt;
    font-family: Arial;
    color: #4F4F4F;
}
h2{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #4F4F4F;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}
.imageDescription{
    display: flex;
    margin-top: 30px;
}
.imageDescription img{
    height:400px;
    margin-left: 60px;
    border-radius: 20px;
}
.imageDescription .description{
    padding: 10px 30px 10px;
    text-align: justify;
    margin: auto;
    font-size: 12pt;
    font-family: Arial;
    color: #4F4F4F;
}

/* ---------------------------------------------- */

.presentationServices{
    width:85%;
    margin: 0 auto;
}


.nosService{
    display: flex;
    width:100%;
    margin: 0 auto;
    color: #4F4F4F;

}
.nosService img{
    box-shadow: 0px 7px 22px 5px rgba(0,0,0,0.2);
    height: 15rem;
    border-radius: 1rem;
    transition:ease-in-out 0.4s;
}
.nosService img:hover{
    opacity: 0.9;
}
.service{
    margin: 1rem 1rem 0rem 1rem; 
}
.service h3{
    line-height: 1.2rem;
    font-size: 1.275rem ;
    color: #4F4F4F;
    word-spacing: 2rem;
}

