body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 0.76rem Arial, Helvetica, sans-serif;
    max-width: 100%;
}
header .headerContainer{
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #7D9AEF;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
header .headerContainer .headerLeft{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 8;
    flex-wrap: wrap;
}
header .headerContainer .headerLeft .spanHead{
    font-size: 1rem;
}
header .headerContainer .headerLeft ul{
    margin: 0px 0px 0px 0px;
    padding: 0;
    display: flex;
    padding-left:5rem;
    flex-wrap: wrap;

}
header .headerContainer .headerLeft ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-right: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 2rem;

}



header .headerContainer .headerRight{
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    display: flex;
    flex: 1;
    flex-wrap: wrap;

}
header .headerContainer .headerRight ul{
    margin: 0.3rem;
    padding: 0;
    display: flex;
    justify-content:space-between;
}
header .headerContainer .headerRight ul li{
    font-size: 1.05rem;
    list-style-type: none;
    padding-left: 1.2rem;
}
header .headerContainer .headerRight ul li a, header .headerContainer .headerLeft ul li a{
    text-decoration: none;
    color: #fff;
}


/* ---------------------------------------------------- */
.header{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}
.header2{
    display: none;
}
.liSecondaire{
    display: none;
}
.menu{
    height: 4.5rem;
    list-style: none;
    /* padding: 1.9rem; */

    width: 100%;
    margin: auto auto;
    padding-left: 0;
}
ul.menu{
    margin: 0px 0px 0px 0px;
    padding: 2.5rem 0rem 1rem 0rem;
}
.menu2{
    display: none;
}
.menu li{
    float: left;
    width:fit-content;
    text-align: center;
    padding-right: 1rem;
}
.menu li a{
    color: #0088CC;
}
.menu li a:hover{
    color: #fff;
    background-color: #0088CC;

}
.menu li a:link, .menu li a:visited{
    display: block;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.menu .sousmenu{
    border-top: 1px solid 0088CC;
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    height:max-content;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    width: 15rem;
    opacity: 0.95;
    border-top: #0088CC;

}
.menu .sousmenu li{
    line-height: 1.5rem;
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: #0088CC;


}
.menu .sousmenu li a{
    color: #0088CC;
    font-weight: normal;
    padding-left: 1rem ;
    width: 14rem;
    text-align: left;
    font-size: 0.9rem;
}
.menu .sousmenu li a:hover{
    background-color: #0088CC;
    color: #fff;
}
.menu .sousmenu li a:link, .menu li a:visited{
    display: block;
    text-decoration: none;
}
 
.menu li:hover .sousmenu{
    display: block;
}
#devis{
    margin-top: 0rem;
    background-color: #0088CC;
    transition: ease-in-out 0.1s;
}
#devis a{
    color: #fff;
    padding-left: 0.6rem;
    transition: ease-in-out 0.1s;
}
#devis:hover, #devis a:hover {
    background-color: black;
}

.logo{
    float: left;
    padding-right: 3rem;
    padding-left: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

}
.logo a{
    color: black;
}
.bigBlu{
    background-color: #1136FF;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
/* -------------------------------------------------- */



.content1{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.content1 img{
    width: max-content;
    position: absolute;
    object-fit: cover;
    left: 0;
    z-index: 1;

}
.leftContent{
    background-repeat: no-repeat;
    width: 40%;
    height: 40rem ;
    color: #fff;
    font-size:2.3rem;
    padding-left: 100px;
    text-align: right;
    font-weight: bold;
}
.bgBlack{
    background-color: black;
}

/* -----------------------------------------slider---------------------------- */
.slider{
    height:70vh;
    position: relative;
}

.slider img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.7s;
}
.slider img.active{
    opacity: 1;
}
.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
.suivant{
    right: 1rem;
}
.precedent{
    left: 1rem;
}


/* ------------------------------------------------------------- */

.info1{
    padding: 10px 30px 10px;
    text-align:justify;
    margin:  80px auto 0 auto;
    font-size: 12pt;
    font-family: Arial;
    color: #4F4F4F;
}
h2{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #4F4F4F;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}
.imageDescription{
    display: flex;
    margin-top: 30px;
}
.imageDescription img{
    max-width: 100%;
    flex: 1;
    height:20rem;
    border-radius: 20px;
}
.imageDescription .description{
    flex: 1;
    padding: 10px 30px 10px;
    text-align: justify;
    margin: auto;
    font-size: 12pt;
    font-family: Arial;
    color: #4F4F4F;
}

/* ---------------------------------------------- */

.presentationServices{
    width:85%;
    margin: 0 auto;
}


.service{
    margin: 1rem 1rem 0rem 1rem; 
    flex: 1;
}

.allService{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
.nosService{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.nosService img{
    box-shadow: 0px 7px 22px 5px rgba(0,0,0,0.2);
    height: 100%;
    border-radius: 1rem;
    transition:ease-in-out 0.4s;
    width: 100%;
}
.nosService img:hover{
    opacity: 0.9;
}




/* *******************NOS CLIENTS**************** */
.nosClients{
    max-width: 90%;
    margin: 3rem auto 5rem auto;
}
.nosClients h3{
    text-align: center;
    font-size: 2.5rem;
    color: #4F4F4F;

}
.nosClients .clients{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 2rem auto;
    font-size: 1.4rem;
    text-align: center;
}
.nosClients .clients .itemclients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    flex:1;
    height: 13rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 5px;
    color: #4F4F4F;

}
.nosClients .clients .itemclients i{
    margin-bottom: 1.5rem;
    font-size: 4rem;
    background-image: linear-gradient(to top left, #4f6fce, lightblue);
    color: white;
    border-radius: 5px;
    
}
/* ******************CONTACT ET COUNTER*************** */
.counterContact .counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    color: #4F4F4F;
    background-color: #314490;
    width: 100% ;
    color: white;
    padding-bottom: 3rem;
    flex-wrap: wrap;


}
.counterContact .counter div{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.counterContact .counter div .data{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.counterContact .counter div .data span{
    font-size: 2.3rem;
}



.counterContact .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    color: #4F4F4F;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(211, 209, 209);
    line-height: 1rem;

}
.counterContact .contact .number{
    font-size: 2.5rem;

}
.counterContact .contact a{
    text-decoration: none;
    background-color: blue;
    color: #fff; 
    padding: 0.7rem 2rem;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: ease-in-out 0.5s; 
    

}
.counterContact .contact a:hover{
    background-color: rgb(0, 0, 0);
}

/* ------------------------footer-------------------- */

footer{
    /* height: 30rem; */
    background-color: #2F2F2F;
    color: white;
    list-style-type: decimal;
    padding-top: 3.5rem;
    padding-left: 4rem;
    padding-right:4rem;
    color: #d5d5d5;
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-bottom: 3.5rem;

}
footer .footerContent{
    display: flex;
}
.leftFooter{
    line-height: 2.5rem;
    padding-right: 2rem;
    flex:1;
}
.leftFooter h4{
    padding-top:0;
    margin-top: 0.7rem;
}
.leftFooter,.middleFooter,.rightFooter{
    color: #ffffff;
}
.middleFooter{
    padding-right: 2rem;
    flex: 1;
}
.middleFooter ul{
    line-height: 2rem;
}

.rightFooter{
    flex: 1;
}
.rightFooter a{
    text-decoration: none;
    color: #fff; 
}
.rightFooter p{
    padding-top: 1.1rem;
    font-weight: normal;
}

footer h4{
    color: #103EFB;
    text-decoration:underline;
    font-size: 1rem;
}
footer ul{
    padding: 1rem
}
footer li a{
    text-decoration: none;
    color: #fff; 
}

footer hr{
    padding:0;
    margin:0;
    border:none;
    height: 0.3rem;
    background-color: #484848;
    margin-bottom: 2rem;
}
.borderBottom .about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer small{
    font-size: 0.75rem;
    align-items: center;
    color: #fff;
}
footer small a{
    text-decoration: none;
    color: #d5d5d5;
}
.borderBottom .about .right ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.borderBottom .about .right ul li{
    list-style-type: none;
    padding-right: 2rem;
}
/* *****************PARIE DES SERVICE************************* */

.mainService{
    max-width: 90%;
    margin: auto;
    font-size: 0.9rem;
    color: #4F4F4F;
}
.mainService h3{
    font-size: 1.5rem;
    padding-bottom:0;
    margin-bottom: 0
}
.mainServiceHeader{
    display: flex;
    flex: 1;
    justify-content:center;
}
.mainServiceHeader .mainServiceHeaderLeft{ 
    flex: 7;
    margin-right: 2rem;
}
.mainService h2{
    padding-top: 0 ;
    margin-top: 0;
}
.mainServiceHeader .mainServiceHeaderRight{ 
    flex: 7;
}
.mainServiceHeader .mainServiceHeaderRight h4{
    padding-top: 0.5rem ;
    margin: 0;
}
.mainServiceHeader .mainServiceHeaderLeft img{ 
    width: 100%;
}
/* ******************************************** */
.mainServiceHeaderMiddleContentText{
    text-align:justify;
}
.mainServiceHeaderMiddleContentText h3{
    text-align: center;
    padding-top:2rem;
    
}
.mainServiceHeaderMiddleContentText p, .mainServiceHeaderMiddleContentText ul li{
    padding:0;
    margin: 0;
    line-height:1.5rem;
}
.mainServiceHeaderMiddleContentText .list{
    flex-wrap: wrap;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.mainServiceHeaderMiddleContentImage{
    display: flex;
    justify-content: space-around;
    margin-bottom:4rem;
    margin-top:2rem;
    flex-wrap: wrap;
    align-items: space-around;
}
.mainServiceHeaderMiddleContentImage img{
    margin-top:1rem;
    width:23rem;
    border-radius: 1rem;
    box-shadow: 0px 7px 22px 5px rgba(0,0,0,0.2);
}
.liensServices p{
    text-align:center;
    line-height:1.5rem;
    padding-bottom: 4rem;
}
.liensServices a{
    text-decoration:underline;
    color: #4F6FCE;
}

/* ********************************* RESPONSIVE********************* */

@media only screen and (max-width: 1200px){
    .imageDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 1080px){
    .menu .liPrincipal{
        display: none
    }
    .liSecondaire{
        display: inline;
        position: absolute;
        left: 95%;
        color: black;
        font-weight: bolder;
    }
    .header2 .nav .navbar #devis{
        width: 100%;
    }
    .header2 .nav .navbar .liPrincipal{
        max-width: fit-content;
    }
    .header2{
        /* display: none; */
        margin-bottom: 1rem;
    }
    .header2 .nav .navbar{
        display: flex;
        flex-direction: column;
    }
    .header2 .nav .navbar li{
        list-style-type: none;
        line-height: 1.5rem;
    }
    .header2 .nav .navbar li a{
        color: #0f009b;
        font-weight: bold;
        text-decoration: none;
    }
    .header2 .nav .navbar .liPrincipal:hover .sousmenu{
        display: block;
    }
    .header2 .nav .navbar .sousmenu{
        display: none;
        position: absolute;
        z-index: 2;
        float: inline-start;
        background-color: #0088CC;
        border-radius: 0.5rem;
        padding: 0px 0px 0px 0px;
        width: 15rem;
        
    }
    .header2 .nav .navbar .sousmenu li{
        padding-left: 1rem;
    }
    .header2 .nav .navbar .sousmenu li a{
        font-weight: 100;
    }
    .header2 .nav .navbar .sousmenu li:hover{
        background-color: #d5d5d5;
    }
  
}
@media only screen and (max-width: 860px){
    .nosService{
        display: flex;
        flex-direction: column;
    }

    .header2 .nav .navbar .sousmenu li{
        line-height: 1.2rem;
        margin-top: 0.3rem;
    }
    /* .header2 .nav .navbar .sousmenu li a{
        line-height: normal;
        font-size: 0.7rem;
    } */
    .footerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .middleFooter, .rightFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .counterContact .contact{
        font-size: 1rem;
    }
    .counterContact .contact .number{
        font-size: 2rem;
    }
    .nosClients .clients{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nosClients .clients .itemclients{
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .presentation .info1 {
        font-size: 0.8rem;
    }
    .presentation .info1 h2{
        font-size: 1.2rem;
    }
    .counterContact .counter div{
        display: flex;
        flex-direction: column;
    }

    .mainServiceHeader{
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 510px){
        header .headerContainer .headerLeft ul{
            margin: 0px 0px 0px 0px;
            padding-left: 1rem;
            display: flex;
            flex-wrap: wrap;
        
        }

    }

}